doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Galeria de imágenes
        link(rel="stylesheet", href="css/estilos.css")
    body
        h1 Galeria de imágenes
        .gallery-container
            -for(var i=1; i<16;i++)
                .gallery-item
                    -if( i < 10 ) 
                        img(src="img/fondo0"+i+".jpg")
                    -else
                        img(src="img/fondo"+i+".jpg")
                    //img(src="img/fondo11.jpg")