@import url(http://fonts.googleapis.com/css?family=Montserrat:700);

$color: #FFF;

body{
    margin: 0;
    font-family: 'Montserrat';
    background: #143166;
}

.container{
    width: 300px;
    height: 150px;
    margin: 2em auto;
    padding: 2em;
    background: #4199FF;
    font-size: 2.5em;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    //border: 2px solid black;
}

.container{
    box-shadow: 0 0 0 4px $color,
                0 0 0 8px #153165,
                0 0 0 12px $color;
                
                
}
